<?xml version="1.0" ?>

<container xmlns="http://www.symfony-project.org/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.symfony-project.org/schema/dic/services http://www.symfony-project.org/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="view.class">Liip\ViewBundle\View\DefaultView</parameter>
        <parameter key="serializer.class">Symfony\Component\Serializer\Serializer</parameter>
        <parameter key="encoder.json.class">Symfony\Component\Serializer\Encoder\JsonEncoder</parameter>
        <parameter key="encoder.xml.class">Symfony\Component\Serializer\Encoder\XmlEncoder</parameter>
        <parameter key="encoder.html.class">Symfony\Component\Serializer\Encoder\HtmlEncoder</parameter>

    </parameters>

    <services>

        <service id="encoder.json" class="%encoder.json.class%" />

        <service id="encoder.xml" class="%encoder.xml.class%" />

        <service id="encoder.html" class="%encoder.html.class%">
            <call method="setTemplating">
                <argument type="service" id="templating" />
            </call>
        </service>

        <service id="serializer" class="%serializer.class%" />

        <service id="view" class="%view.class%">
            <argument type="service" id="service_container" />
            <call method="setSupported">
                <argument type="collection">
                    <argument>html</argument>
                    <argument>json</argument>
                    <argument>xml</argument>
                </argument>
            </call>
        </service>

    </services>
</container>
